<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
    <div id = "navbar">
        <a id="homepage" href = "{% url 'home' %}">Homepage</a>
        <a id="contact_us" href="{%  url 'contact' %}">contact us</a>
        {% if not request.user.is_authenticated %}
        <a id="login" href="{% url 'login' %}">Login</a>
        <a id="register" href="{% url 'signup' %}">Register</a>
        {% else %}
            <a id="logout" href="{% url 'logout' %}">Logout</a>
        {% endif %}

    </div>
     <div id="content">
         {% block content %}
         {% endblock %}
     </div>
</body>
</html>
