{% extends 'base.html' %}
{% block content %}
    <div id = "all_courses">
    {% for course in courses %}
        <div class = "{{ course.course_number }}_{{ course.group_number }}">
        <h4>{{ course.name }}</h4>
        <div>{{ course.department }}</div>
        <div>{{ course.first_day }} {{ course.second_day }}</div>
        <div>{{ course.start_time|date:'H:i' }} {{ course.end_time|date:'H:i' }}</div>
        <div>{{ course.teacher }}</div>
        </div>
    {% endfor %}

    </div>
{% endblock %}
