 {% extends 'base.html' %}
{% block content %}
<form id = "register_form" action= "{% url "signup"%}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" type="submit">submit</button>
    {% if error1 or error2 %}
        <div id="errors">
            {% if error1 %}
                گذرواژه و تکرار گذرواژه یکسان نیستند
                {% endif %}
            {% if error2 %}
                نام کاربری شما در سیستم موجود است
                {% endif %}
        </div>
    {% endif %}
</form>
{% endblock %}
